<% layout('layouts/boilerplate') -%>
<div class="d-flex flex-row justify-content-around">
    <% for (let car of cars) { %>
        <div class="card mx-2 front-card" style="width: 18rem;">
            <div class="card-body mb-1 ad-header">
                <h6 class="card-title text-center text-white"><b><%= car.brand %> <%=car.model %></b></h5>
              </div>
              <% if (car.images && car.images.length>0) { %>
                <img src="<%= car.images[0] %>" class="img-front-card" alt="...">
              <% } %>
              <div class="mt-2">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="mileage-label">Year</span>
                  <div class="form-control" aria-label="Year"><%=  car.year ? car.year : 'NA' %></div>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="mileage-label">Fuel</span>
                  <div class="form-control" aria-label="Fuel"><%= car.fuel ? car.fuel : 'NA' %></div>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="mileage-label">Mileage</span>
                  <div class="form-control" aria-label="Mileage"><%= car.mileage ? car.mileage : 'NA' %></div>
                </div>
              
              </div>

          </div>
    <% } %>
  </div>

